body {
    background-image: url('./images/CSS Snippet - Google Chrome 3_30_2023 6_13_15 AM.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-color: #f9fbfd;
}

/* Box sizing rule for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Height and margin reset for html, body, and container */
html,
body,
.container {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Container style rules */
.container {
    padding-top: 15%;
    padding-left: 20px;
    padding-right: 20px;
}

/* Header style rules */
header {
    text-align: center;
    padding: 10px;
    padding-top: 45px;
    color: white;
}

/* Card style rules */
.wrapper {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: rgb(70, 63, 63);
    font-size: 18px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 35px;
}

/* Card header style rules */
.section-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}



